/* 전체 배경은 100% */
.footer {
    width: 100%;
    padding: 50px 0 40px;
    background-color: #142A35;
    color:#ffffff;
}

/* 내부 콘텐츠 1250px + 가운데 정렬 */
.footer-inner {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    font-size: 12px;
    justify-content: space-between; /* 왼쪽/오른쪽 분리 */
    align-items: center; /* 세로 정렬 */
    gap: 20px;
}

/* 왼쪽 영역 */
.footer-left {
    flex: 1;
}

/* 오른쪽 로고 */
.footer-right img {
    height: 70px;
    object-fit: contain;
}
.hidden-link {
  color: inherit;
  text-decoration: none !important;
  cursor: default;
}

.hidden-link:hover,
.hidden-link:focus,
.hidden-link:active,
.hidden-link:visited {
  text-decoration: none !important;
  color: inherit;
}